.App {
    overflow: hidden;
}

#Game-display {
    background: #000;
}

.Game-display-container {
    border-radius: 15px;
    border: 15px solid #d4c148d6;
    padding: 0;
    overflow: hidden;
    background: black;
}

.Inventory-display-container {
    height: 750px;
    background: black;
    padding-left: 30px;
    padding-right: 30px;
}

#Inventory-display {

}

#Inventory-display h1 {
    color: whitesmoke;
}

#Inventory-display .Inventory-container {
    height: 630px;
}

.Inventory-container > .well {
    box-shadow: 10px 10px 0px rgba(0,0,0,.05), 1px 0 rgba(255,255,255,.1);
}

.Page-header {
    margin-bottom: 1px;
}

.Zoom-in {
    transform: scale(2) translate(35%, 35%);
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.Zoom-in-inventory {
    transform: scale(2) translate(-30%, 35%);
    transition-duration: 0.5s;
    transition-delay: 0.25s;
}

.Level-completed {
    transition: transform 1.5s;
    transform: skew(45deg, 45deg) scale(0.1);
    transition-timing-function: cubic-bezier(1, 0.82, 1, 0.1);
}