.App {
    overflow: hidden;
}

.Zoom-in {
    transform: scale(2) translate(25%, 25%);
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}

.Level-completed {
    transition: transform 1.5s;
    transform: skew(45deg, 45deg) scale(0.1);
    transition-timing-function: cubic-bezier(1, 0.82, 1, 0.1);
}